<!DOCTYPE html>
<html>

<head>
    <title>order.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="../../css/memo.css" rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
</head>

<body style="background: url(../../media/cm.jpg);background-size:cover">

<h1>カート内の商品</h1>
<table>
    <tr>
        <th>商品番号</th>
        <th>商品名</th>
        <th>価格</th>
    </tr>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
    </tr>
{% endfor %}
</table>

<h1>お客様情報の入力</h1>
<form action="../order_execute/" method="post">
{% csrf_token %}
<table>
    <tr>
        <th>お名前 (姓)</th>
        <td><input name="last_name" type="text" id="last_name" size="50"></td>
        <th>(名)</th>
        <td><input name="first_name" type="text" id="first_name" size="50"></td>
    </tr>
    <tr>
        <th>郵便番号</th>
        <td><input name="postal_code" type="text" id="postal_code" size="50"></td>
    </tr>
    <tr>
        <th>都道府県</th>
        <td><input name="prefecture" type="text" id="prefecture" size="50"></td>
    </tr>
    <tr>
        <th>市区町村</th>
        <td><input name="city" type="text" id="city" size="50"></td>
    </tr>
    <tr>
        <th>番地など</th>
        <td><input name="street1" type="text" id="street1" size="50"></td>
    </tr>
    <tr>
        <th>建物名など</th>
        <td><input name="street2" type="text" id="street2" size="50"></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><input name="tel" type="text" id="tel" size="50"></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><input name="email" type="text" id="email" size="50"></td>
    </tr>
    <tr>
        <th>決済方法</th>
        <td>
        {% for payment in payments %}
            <input type="radio" name="payment" id="payment_name" value="{{ payment.id }}" />
            <label for="payment_name">{{ payment.name }}</label><br />
        {% endfor %}
        </td>
    </tr>
</table>
<input type="submit" value="注文" />
</form>


</body>

</html>
