<!DOCTYPE html>
<html>

<head>
    <title>order_complete.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="../../css/memo.css" rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

    <script type="text/javascript">
        function success() {
            localStorage["price"] = 0; 
        }
        </script>
</head>

<body style="background: url(../../media/cm.jpg);background-size:cover">

    <p style="margin:20px"></p>
    <div class="text-center">
            <h1 style="text-align:center">Order completed successfully!</h1>
            <p style="margin:20px"></p>
            <a href='/ec/list/'>
                <h3 class="btn btn-danger" onclick="success()">Back to HOME</h3>
            </a>
     </div>


</body>
</html>
